{{- $src := .Get "src" -}} {{- $title := .Get "title" | default "Background music" -}}
{{- $artist := .Get "artist" | default "" -}}

<div class="bgm-player">
  <div class="bgm-player__header">
    <span class="bgm-player__icon">Music</span>
    <div>
      <h4 class="bgm-player__title">{{ $title }}</h4>
      {{- if $artist -}}
      <p class="bgm-player__artist">
        {{ $artist }}
      </p>
      {{- end -}}
    </div>
  </div>

  <audio class="bgm-player__audio" controls preload="metadata">
    <source src="{{ $src }}" type="audio/mpeg" />
    <source src="{{ $src }}" type="audio/ogg" />
    <source src="{{ $src }}" type="audio/wav" />
    Your browser does not support audio playback.
  </audio>

  <p class="bgm-player__hint">
    Click play to start background music.
  </p>
</div>
