{{ if eq (.Get "type") "podcast" }}
<a href="{{ .Get "link" }}" target="_blank" rel="noopener" title="{{ .Get "title" }}" class="link-card link-card--podcast">
    <img src="{{ .Get "image" }}" class="link-card__image" alt="{{ .Get "title" }}" loading="lazy" decoding="async">
    <div class="link-card__title">{{ .Get "title" }}</div>
</a>
{{ else }}
<a href="{{ .Get "link" }}" target="_blank" rel="noopener" class="link-card link-card--default">
    <h3 class="link-card__heading">{{ .Get "title" }}</h3>
</a>
{{ end }}
