{{- $src := .Get "src" -}}
{{- $title := .Get "title" | default "Background music" -}}
{{- $autoplay := .Get "autoplay" | default "false" -}}
{{- $loop := .Get "loop" | default "true" -}}
{{- $controls := .Get "controls" | default "true" -}}

<div class="music-player">
  <h4 class="music-player__title">Music: {{ $title }}</h4>
  <audio
    {{ if eq $autoplay "true" }}autoplay{{ end }}
    {{ if eq $loop "true" }}loop{{ end }}
    {{ if eq $controls "true" }}controls{{ end }}
    class="music-player__audio"
    preload="metadata">
    <source src="{{ $src }}" type="audio/mpeg">
    <source src="{{ $src }}" type="audio/ogg">
    <source src="{{ $src }}" type="audio/wav">
    Your browser does not support audio playback.
  </audio>
  <p class="music-player__hint">
    Hint: {{ if eq $autoplay "true" }}Autoplay is on.{{ else }}Click play to start.{{ end }}
  </p>
</div>
