{{- $playlist := .Get "list" | default "[]" -}} {{- $title := .Get "title" |
default "Playlist" -}}

<div class="playlist-player" data-playlist>
  <h3 class="playlist-title">Playlist: {{ $title }}</h3>

  <div class="playlist-container">
    {{- range $index, $song := getJSON $playlist -}}
    <div
      class="song-item"
      role="button"
      tabindex="0"
      data-src="{{ $song.src }}"
      data-title="{{ $song.title }}"
    >
      <span class="song-item__icon">Play</span>
      <div class="song-item__meta">
        <div class="song-item__title">{{ $song.title }}</div>
        <div class="song-item__artist">
          {{ $song.artist | default "Unknown artist" }}
        </div>
      </div>
      <span class="song-item__duration"
        >{{ $song.duration | default "Unknown duration" }}</span
      >
    </div>
    {{- end -}}
  </div>

  <div class="player-controls">
    <audio class="playlist-audio" controls preload="metadata">
      Your browser does not support audio playback.
    </audio>
  </div>
</div>
